@tailwind base;
@tailwind components;
@tailwind utilities;

.backroundImage{
  background-image: url("../public/loginImage.jpg");
}
.rcms-logo{
  background-image:  url("../public/RCMS_logo.png");
}
.login-height{
  height: 90%;
}
